<p id="notice"><%= notice %></p>

<% @doctor = User.where("id = ?", @prescription.doctor_id)%>
<% @patient = User.where("id = ?", @prescription.user_id)%>


<div class="jumbotron">
    <h1 class="display-4">Prescription Details</h1>
    <br/>
    <h2><%= @prescription.title %></h2>

    <p class="lead">
      Doctor:
      <%= @doctor.first.first_name + " " + @doctor.first.last_name%> | 
      <%= @doctor.first.email %>
    </p>

    <p class="lead">
      Patient:
      <%= @patient.first.first_name + " " + @patient.first.last_name%> | 
      <%= @patient.first.email %>
    </p>

    <hr class="my-4">
    <p><%= @prescription.description %></p>
    <br/><br/>

  </div>

<% if current_user.doctor == true %>
  <%= link_to 'Edit', edit_prescription_path(@prescription), class:"btn btn-secondary" %> 
<% end %>
<%= link_to 'Back', prescriptions_path, class:"btn btn-dark" %>
