<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">

  	<%= link_to "Lucas' App", root_path, class:"navbar-brand" %>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">

        <li class="nav-item">
        	<%= link_to "About Us", home_about_path, class:"nav-link" %>
        </li>

        <% if user_signed_in? %>
        	<li class="nav-item dropdown">
	          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
	            Doctors
	          </a>
	          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
	            <li><%= link_to "View All Registered Doctors", doctors_path, class:"dropdown-item" %></li>
	            <li><%= link_to "Register a New Doctor", new_doctor_path, class:"dropdown-item" %></li>
	          </ul>
        	</li>


          <% if current_user.doctor == true %>
            <li class="nav-item">
              <%= link_to "My Patients", patients_index_path(:user_id => current_user.id), class:"nav-link" %>
            </li>
          <% end %>

          <% if current_user.doctor == false && current_user.admin == false %>
            <li class="nav-item">
              <%= link_to "My Doctor", mydoctor_index_path(:user_id => current_user.id), class:"nav-link" %>
            </li>
          <% end %>

          <% if current_user.admin == true %>
            <li class="nav-item">
              <%= link_to "View All Users", allusers_index_path, class:"nav-link" %>
            </li>
          <% end %>


          <li class="nav-item">
            <%= link_to "Edit Profile", edit_user_registration_path, class:"nav-link" %>
          </li>

	        <li class="nav-item">
	        	<%= link_to "Logout", destroy_user_session_path, method: :delete, class:"nav-link" %>
	        </li>

	        
        <% else %>
          <li class="nav-item">
            <%= link_to "Sign Up", new_user_registration_path, class:"nav-link" %>
          </li>

          <li class="nav-item">
            <%= link_to "Sign In", new_user_session_path, class:"nav-link" %>
          </li>
        <% end %>

      </ul>
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" data-behavior="autocomplete">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>